@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgba(238, 238, 238, 0.75);
  line-height: 1;
  font-family: "Poppins";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #222831;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 5.8125rem;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  text-align: center;
  font-weight: 700;
  color: #eeeeee;
  line-height: 1.5;
  padding: 0.625rem 2rem;
  background-color: #00ADB5;
  border-radius: 24px;
  -webkit-transition: background-color 1s ease 0s;
  -o-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
}

.button:hover {
  background-color: rgba(57, 62, 70, 0.75);
}

.button_dark {
  background-color: rgba(57, 62, 70, 0.75);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.button_dark:hover {
  background-color: #00ADB5;
}

.title {
  font-weight: 700;
  line-height: 1.5;
  color: #EEEEEE;
}

@supports (font-size: clamp( 2.25rem , 1.6666666667rem  +  2.9166666667vw , 4rem )) {
  .title {
    font-size: clamp( 2.25rem , 1.6666666667rem  +  2.9166666667vw , 4rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.6666666667rem  +  2.9166666667vw , 4rem )) {
  .title {
    font-size: calc(2.25rem + 1.75 * (100vw - 20rem) / 60);
  }
}

.title span {
  color: #00ADB5;
}

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(34, 40, 49, 0.8);
  z-index: 50;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  min-height: 5.75rem;
}

.header__logo {
  position: relative;
  z-index: 10;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 2.5rem );
       -moz-column-gap: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 2.5rem );
            column-gap: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 60);
       -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 60);
            column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 60);
  }
}

.menu__item {
  line-height: 1.5;
  color: #EEEEEE;
  position: relative;
}

.menu__item::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -2px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.menu__item:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.6s ease 0s;
  transition: -webkit-transform 0.6s ease 0s;
  -o-transition: transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
}

.icon-menu {
  display: none;
}

.main {
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

@supports (padding-top: clamp( 1.875rem , 0.5625rem  +  6.5625vw , 5.8125rem )) {
  .main {
    padding-top: clamp( 1.875rem , 0.5625rem  +  6.5625vw , 5.8125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.5625rem  +  6.5625vw , 5.8125rem )) {
  .main {
    padding-top: calc(1.875rem + 3.9375 * (100vw - 20rem) / 60);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.4583333333rem  +  7.0833333333vw , 6.125rem )) {
  .main {
    padding-bottom: clamp( 1.875rem , 0.4583333333rem  +  7.0833333333vw , 6.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.4583333333rem  +  7.0833333333vw , 6.125rem )) {
  .main {
    padding-bottom: calc(1.875rem + 4.25 * (100vw - 20rem) / 60);
  }
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.main__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 1.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 1.5625rem , 1.0833333333rem  +  2.3958333333vw , 3rem )) {
  .main__content {
    gap: clamp( 1.5625rem , 1.0833333333rem  +  2.3958333333vw , 3rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 1.0833333333rem  +  2.3958333333vw , 3rem )) {
  .main__content {
    gap: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 60);
  }
}

.main__title {
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

@supports (font-size: clamp( 2.625rem , 1.5rem  +  5.625vw , 6rem )) {
  .main__title {
    font-size: clamp( 2.625rem , 1.5rem  +  5.625vw , 6rem );
  }
}

@supports not (font-size: clamp( 2.625rem , 1.5rem  +  5.625vw , 6rem )) {
  .main__title {
    font-size: calc(2.625rem + 3.375 * (100vw - 20rem) / 60);
  }
}

.main__title span {
  color: #00ADB5;
}

.main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.main__button span {
  padding-right: 2.125rem;
  display: inline-block;
  background: url("../img/main/download-icon.svg") right no-repeat;
}

.main__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43%;
          flex: 0 0 43%;
  text-align: center;
}

.main__image img {
  max-width: 100%;
}

@supports (padding-top: clamp( 1.875rem , 0.0833333333rem  +  8.9583333333vw , 7.25rem )) {
  .about {
    padding-top: clamp( 1.875rem , 0.0833333333rem  +  8.9583333333vw , 7.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.0833333333rem  +  8.9583333333vw , 7.25rem )) {
  .about {
    padding-top: calc(1.875rem + 5.375 * (100vw - 20rem) / 60);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.0833333333rem  +  8.9583333333vw , 7.25rem )) {
  .about {
    padding-bottom: clamp( 1.875rem , 0.0833333333rem  +  8.9583333333vw , 7.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.0833333333rem  +  8.9583333333vw , 7.25rem )) {
  .about {
    padding-bottom: calc(1.875rem + 5.375 * (100vw - 20rem) / 60);
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.about__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about__text {
  max-width: 24.375rem;
  line-height: 1.5;
}

@supports (font-size: clamp( 0.875rem , 0.7916666667rem  +  0.4166666667vw , 1.125rem )) {
  .about__text {
    font-size: clamp( 0.875rem , 0.7916666667rem  +  0.4166666667vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7916666667rem  +  0.4166666667vw , 1.125rem )) {
  .about__text {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 60);
  }
}

.about__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about__image img {
  max-width: 100%;
}

.projects {
  background: url("../img/projects/background.svg") 0 0 repeat;
}

@supports (padding-top: clamp( 1.875rem , -0.5416666667rem  +  12.0833333333vw , 9.125rem )) {
  .projects {
    padding-top: clamp( 1.875rem , -0.5416666667rem  +  12.0833333333vw , 9.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.5416666667rem  +  12.0833333333vw , 9.125rem )) {
  .projects {
    padding-top: calc(1.875rem + 7.25 * (100vw - 20rem) / 60);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.5416666667rem  +  12.0833333333vw , 9.125rem )) {
  .projects {
    padding-bottom: clamp( 1.875rem , -0.5416666667rem  +  12.0833333333vw , 9.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.5416666667rem  +  12.0833333333vw , 9.125rem )) {
  .projects {
    padding-bottom: calc(1.875rem + 7.25 * (100vw - 20rem) / 60);
  }
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.items-projects__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 0.625rem , 0.5rem  +  0.625vw , 1rem )) {
  .items-projects__navigation {
    gap: clamp( 0.625rem , 0.5rem  +  0.625vw , 1rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.5rem  +  0.625vw , 1rem )) {
  .items-projects__navigation {
    gap: calc(0.625rem + 0.375 * (100vw - 20rem) / 60);
  }
}

.items-projects__navigation:not(:last-child) {
  margin-bottom: 3rem;
}

.items-projects__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
}

@supports (gap: clamp( 1.25rem , 0.7291666667rem  +  2.6041666667vw , 2.8125rem )) {
  .items-projects__body {
    gap: clamp( 1.25rem , 0.7291666667rem  +  2.6041666667vw , 2.8125rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.7291666667rem  +  2.6041666667vw , 2.8125rem )) {
  .items-projects__body {
    gap: calc(1.25rem + 1.5625 * (100vw - 20rem) / 60);
  }
}

.items-projects__item {
  padding: 3.8125rem 3.125rem;
  background-color: rgba(57, 62, 70, 0.5);
  border-radius: 16px;
}

.items-projects__image {
  position: relative;
  padding-bottom: 59.6226415094%;
}

.items-projects__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.active {
  background-color: #00ADB5;
}

@supports (padding-top: clamp( 1.875rem , -0.7708333333rem  +  13.2291666667vw , 9.8125rem )) {
  .contact {
    padding-top: clamp( 1.875rem , -0.7708333333rem  +  13.2291666667vw , 9.8125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.7708333333rem  +  13.2291666667vw , 9.8125rem )) {
  .contact {
    padding-top: calc(1.875rem + 7.9375 * (100vw - 20rem) / 60);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.1041666667rem  +  9.8958333333vw , 7.8125rem )) {
  .contact {
    padding-bottom: clamp( 1.875rem , -0.1041666667rem  +  9.8958333333vw , 7.8125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.1041666667rem  +  9.8958333333vw , 7.8125rem )) {
  .contact {
    padding-bottom: calc(1.875rem + 5.9375 * (100vw - 20rem) / 60);
  }
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contact__image {
  text-align: center;
}

.contact__image img {
  max-width: 100%;
}

.contact__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.form-contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.form-contact__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.form-contact__label {
  font-weight: 700;
  line-height: 1.5;
  color: #EEEEEE;
}

@supports (font-size: clamp( 1rem , 0.9583333333rem  +  0.2083333333vw , 1.125rem )) {
  .form-contact__label {
    font-size: clamp( 1rem , 0.9583333333rem  +  0.2083333333vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9583333333rem  +  0.2083333333vw , 1.125rem )) {
  .form-contact__label {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 60);
  }
}

.form-contact__input {
  background-color: rgba(57, 62, 70, 0.5);
  border-radius: 16px;
  width: 100%;
  color: rgba(238, 238, 238, 0.5);
  line-height: 1.5;
}

.form-contact__input_01,
.form-contact__input_02 {
  padding: 0rem 1.5rem;
  min-height: 3.6875rem;
}

.form-contact__input_03 {
  padding: 1rem 1.5rem;
  min-height: 17.5rem;
}

.form-contact__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.form-contact__button span {
  padding-right: 2.125rem;
  display: inline-block;
  background: url("../img/contact/send-icon.svg") right no-repeat;
}

.footer {
  border-top: 1px solid rgba(238, 238, 238, 0.1);
}

@supports (padding-top: clamp( 1.875rem , 1.5625rem  +  1.5625vw , 2.8125rem )) {
  .footer {
    padding-top: clamp( 1.875rem , 1.5625rem  +  1.5625vw , 2.8125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.5625rem  +  1.5625vw , 2.8125rem )) {
  .footer {
    padding-top: calc(1.875rem + 0.9375 * (100vw - 20rem) / 60);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4583333333rem  +  2.0833333333vw , 3.125rem )) {
  .footer {
    padding-bottom: clamp( 1.875rem , 1.4583333333rem  +  2.0833333333vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4583333333rem  +  2.0833333333vw , 3.125rem )) {
  .footer {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 60);
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 1.25rem , 0.6666666667rem  +  2.9166666667vw , 3rem )) {
  .menu-footer__list {
    gap: clamp( 1.25rem , 0.6666666667rem  +  2.9166666667vw , 3rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.6666666667rem  +  2.9166666667vw , 3rem )) {
  .menu-footer__list {
    gap: calc(1.25rem + 1.75 * (100vw - 20rem) / 60);
  }
}

.menu-footer__item {
  line-height: 1.5;
  color: #EEEEEE;
  position: relative;
}

.menu-footer__item::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -2px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.menu-footer__item:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.6s ease 0s;
  transition: -webkit-transform 0.6s ease 0s;
  -o-transition: transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
}

.menu-footer__link {
  display: inline-block;
  padding-left: 2.125rem;
}

.menu-footer__link_01 {
  background: url("../img/footer/home-icon.svg") left no-repeat;
}

.menu-footer__link_02 {
  background: url("../img/footer/user-icon.svg") left no-repeat;
}

.menu-footer__link_03 {
  background: url("../img/footer/phone-icon.svg") left no-repeat;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.social-footer__link {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #393E46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-footer__link:hover {
  border: 1px solid #00ADB5;
}

@media (max-width: 61.99875em) {
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__title {
    text-align: center;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__content {
    text-align: center;
  }

  .about__text {
    max-width: 100%;
  }

  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .items-projects__navigation:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 29.99875em) {
  .menu__body {
    background-color: #222831;
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    -webkit-transition: right 1s ease 0s;
    -o-transition: right 1s ease 0s;
    transition: right 1s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5.625rem;
    right: -100%;
    top: 0;
    background-color: #222831;
    z-index: 15;
    -webkit-transition: right 1s ease 0s;
    -o-transition: right 1s ease 0s;
    transition: right 1s ease 0s;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 7.5rem;
    font-size: 1.875rem;
    row-gap: 1.5625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .form-contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .form-contact__button {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}